* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

.form_one {
  margin: 0 auto;
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.personal-data {
  flex: 1;
}

.login-data {
  flex: 1;
}

.row {
  display: flex;
  justify-content: space-between;
}

.row-left {
  flex-basis: 100px;
}
.row-mid {
  flex-basis: 200px;
}
.row-right {
  flex-basis: 20px;
}

#gender {
  display: inline-block;
}

