:root {
  --odd-line: linear-gradient(to right, white 50px, black 50px);
  --ol: repeating-linear-gradient(to right, white 50px, black 50px);
  /*background: linear-gradient(white 12.5%, black 25%);*/
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
}

h1 {
  margin: 20px auto;
}

.main {
  margin: 0 auto;
  width: 500px;
}

.borders-outer {
  width: 464px;
  height: 464px;
  border: 2px solid black;
}

.inscription-column,
.table,
.inscription-row__symbol,
.inscription-row__space {
  display: inline-block;
}

.middle-row {
  height: 410px;
}

.inscription-row {
  text-align: center;
}

.inscription-top {
  margin: 6px auto 3px auto;
  transform: rotate(180deg);
}

.inscription-row__symbol {
  width: 47px;
}

.inscription-left {
  margin: auto 5px auto 11px;
  transform: translateY(-20px);
}

.inscription-right {
  margin: auto 10px auto 6px;
  transform: translateY(-53px) rotate(180deg);
}

.inscription-column__symbol {
  height: 50px;
}

.borders-inner {
  width: 404px;
  height: 404px;
  border: 2px solid black;
}

.table__line-odd {
  width: 400px;
  height: 50px;
  background: repeating-linear-gradient(to right, white, white 50px, black 1px, black 100px);
}

.table__line-even {
  width: 400px;
  height: 50px;
  background: repeating-linear-gradient(to right, black, black 50px, white 1px, white 100px);
}